.media-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    .media{
        margin: 3rem;
        width: 350px;
        height: 300px;
        a{
            text-decoration: none;
        }
        .imgMedia{
            width: 350px;
            height: 300px;
            object-fit: cover;
        }

        .infoMedia{
            display: flex;
            justify-content: space-between;
            margin-top: 0.2rem;
            color: $couleurPrimaire1;
            font-size: 1.3rem;
            .titreMedia{
                max-width: 60%;
            }
            .numberLike{
                margin-right: 0.2rem;
            }
        }
    }

}