.media-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    .media{
        margin: 3rem;
    
        .imgMedia{
            width: 350px;
            height: 300px;
            object-fit: cover;
        }
    }

}