@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400&display=swap");
.photographes-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.photographes-wrapper .photographe {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 500px;
  margin-top: 3rem;
}
.photographes-wrapper .photographe .photo a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}
.photographes-wrapper .photographe .photo a img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
}
.photographes-wrapper .photographe .photo a h2 {
  text-align: center;
  font-size: 36px;
  margin: 10px 0 0 0;
  color: #D3573C;
}
.photographes-wrapper .photographe .information {
  text-align: center;
  line-height: 0.9rem;
}
.photographes-wrapper .photographe .information .localisation {
  font-size: 13px;
  color: #901C1C;
}
.photographes-wrapper .photographe .information .slogan {
  font-size: 10px;
}
.photographes-wrapper .photographe .information .tarif {
  font-size: 9px;
  color: #757575;
}

.media-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.media-wrapper .media {
  margin: 3rem;
  width: 350px;
  height: 300px;
}
.media-wrapper .media a {
  text-decoration: none;
}
.media-wrapper .media .imgMedia {
  width: 350px;
  height: 300px;
  object-fit: cover;
}
.media-wrapper .media .infoMedia {
  display: flex;
  justify-content: space-between;
  margin-top: 0.2rem;
  color: #901C1C;
  font-size: 1.3rem;
}
.media-wrapper .media .infoMedia .titreMedia {
  max-width: 60%;
}
.media-wrapper .media .infoMedia .numberLike {
  margin-right: 0.2rem;
}
.media-wrapper .media .infoMedia .like {
  cursor: pointer;
}

.conteneur-modal {
  top: 0;
  width: 100%;
  height: 100vh;
  position: fixed;
  background-color: rgba(196, 196, 196, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}
.conteneur-modal .fenetre-modal {
  background-color: #DB8876;
  display: flex;
  position: relative;
  flex-direction: column;
  width: 40%;
  height: 80%;
  padding: 1rem;
}
.conteneur-modal .fenetre-modal .fermeture-modal {
  position: absolute;
  top: 2%;
  right: 2%;
  font-size: 2rem;
  color: white;
  cursor: pointer;
}
.conteneur-modal .fenetre-modal h1 {
  font-size: 3rem;
}
.conteneur-modal .fenetre-modal h1 span {
  display: block;
}
.conteneur-modal .fenetre-modal label {
  font-size: 1.5rem;
  color: #312E2E;
  margin-top: 1rem;
}
.conteneur-modal .fenetre-modal input[type=text] {
  width: 80%;
  height: 3rem;
}
.conteneur-modal .fenetre-modal input[type=button] {
  padding: 1rem 0.5rem;
  background-color: #901C1C;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.2s;
  width: 20%;
  margin-top: 2rem;
}
.conteneur-modal .fenetre-modal input[type=button]:hover {
  background-color: #D3573C;
  color: black;
}

.popUp-media {
  width: 100%;
  height: 100%;
  position: fixed;
  justify-content: center;
  align-items: center;
  background-color: #f1f1f1;
  top: 0;
  display: none;
}
.popUp-media .close {
  color: #901C1C;
  cursor: pointer;
}
.popUp-media .container-media {
  width: 80%;
  height: 90%;
  position: relative;
}
.popUp-media .container-media .close {
  position: absolute;
  font-size: 2rem;
  top: 2.5rem;
  right: 4rem;
}
.popUp-media .container-media .media {
  display: flex;
  margin-top: 2rem;
  height: 90%;
  justify-content: space-between;
  align-items: center;
}
.popUp-media .container-media .media .imgMedia {
  height: 90%;
  width: 80%;
}
.popUp-media .container-media .media .imgMedia img, .popUp-media .container-media .media .imgMedia video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.popUp-media .container-media .media .chevron {
  width: 5%;
  margin: auto;
}

.carte-filter {
  display: flex;
  align-items: center;
  margin: 2rem 0 0rem 5vw;
}
.carte-filter .libelleFilter {
  margin-right: 1rem;
  font-weight: bold;
}
.carte-filter .container-menu {
  width: 200px;
  background-color: #901C1C;
  color: #f1f1f1;
  position: relative;
}
.carte-filter .container-menu .btn-filter {
  width: 100%;
  background-color: inherit;
  border: none;
  outline: none;
  color: inherit;
  text-align: left;
  padding: 1rem;
  font-size: 1rem;
}
.carte-filter .container-menu .menu {
  display: none;
  width: 100%;
  position: absolute;
  background-color: #901C1C;
  color: #f1f1f1;
  z-index: 10;
}
.carte-filter .container-menu .menu div {
  padding: 1rem;
  position: relative;
}
.carte-filter .container-menu .menu div::before {
  content: "";
  position: absolute;
  top: 0;
  width: 80%;
  height: 1px;
  background-color: #f1f1f1;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 5rem 5rem 5rem;
}
header a {
  display: flex;
  align-items: center;
}
header a img {
  width: 200px;
}

.carte-contact {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #FAFAFA;
  width: 90%;
  margin: auto;
}
.carte-contact .bouton {
  padding: 1rem 0.5rem;
  background-color: #901C1C;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.2s;
}
.carte-contact .bouton:hover {
  background-color: #D3573C;
  color: black;
}
.carte-contact h1 {
  font-size: 3rem;
  color: #D3573C;
  margin: 0.5rem 0;
}
.carte-contact .localisation {
  color: #901C1C;
}
.carte-contact .slogan {
  margin-top: 1rem;
  display: block;
}
.carte-contact img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
}

.recap-photographe {
  position: fixed;
  bottom: 0;
  right: 2rem;
  width: 40%;
  max-width: 380px;
  height: 50px;
  border-radius: 5px 5px 0 0;
  background-color: #DB8876;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.2rem;
}

* {
  font-family: "DM Sans", sans-serif;
}

/*# sourceMappingURL=style.css.map */
